.contact-banner{
    flex-direction: column;
    justify-content: center;
    height: 35vh;
    background-image: url(/assets/contact-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    color: white;
}
.contact-banner h2{
    padding-top: 20px;
}
.contact-banner p{
    max-width: 80%;
    color: white;
    line-height: 21px;
    text-align: justify;
}
.contact-main {
    justify-content: space-around;
    flex-wrap: wrap;
}
.contact-main .contact-address h4{
    padding-bottom: 20px;
}
.contact-main .contact-address h3{
    padding-bottom: 20px;
}
.contact-main .contact-address span{
    padding-bottom: 10px;
    font-size: 20px;
}
.contact-main .contact-address div ul li{
    display: flex;
}

.contact-main .contact-address div ul li i{
    position: initial;
    padding: 10px 15px 10px 0;
}
.contact-main .contact-map{
    width: 55%;
    height: 400px;
}
.contact-main .contact-map iframe{
    width: 100%;
    height: 100%;
}

.contact-form form{
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
    max-width: 50%;
    position: relative;
}
.contact-form form span{
    color: red;
    position: relative;
    left: 100%;
    top: 14px;
}
.contact-form form h4{
    padding-bottom: 10px;
}
.contact-form form h2{
    padding-bottom: 20px;
}
.contact-form form input{
    padding: 10px 0 10px 5px;
    width: 100%;
    margin: 5px 0;
}
.contact-form form textarea{
    width: 100%;
    height: 150px;
    margin: 5px 0;
    padding: 10px 0 10px 5px;
}
.contact-form form button{
    position: absolute;
    right: 0;
    bottom: -50px;
}










